*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:
linear-gradient(135deg,#667eea,#764ba2);
}
.container{
width:400px;
padding:35px;
background:white;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
}

h1{
text-align:center;
color:#667eea;
margin-bottom:25px;
}
.input-box{
margin-bottom:20px;
}
input{
width:100%;
padding:13px;
border:1px solid #ccc;
border-radius:10px;
font-size:16px;
outline:none;
}
input:focus{
border-color:#667eea;
}

span{
display:block;
color:red;
font-size:14px;
margin-top:5px;
}

button{
width:100%;
padding:13px;
border:none;
border-radius:25px;
background:#667eea;
color:white;

font-size:17px;
cursor:pointer;
}
button:hover{
background:#764ba2;

}
#successMessage{
text-align:center;
color:green;
font-weight:bold;
margin-top:15px;

}
