*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;

}


body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(135deg,#667eea,#764ba2);

}



.todo-container{

width:420px;

padding:35px;

background:white;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,0.3);

}



h1{

text-align:center;

color:#667eea;

margin-bottom:25px;

}



.input-box{

display:flex;

gap:10px;

}



input{

flex:1;

padding:12px;

border:2px solid #667eea;

border-radius:20px;

font-size:16px;

outline:none;

}



button{

padding:12px 20px;

border:none;

border-radius:20px;

background:#667eea;

color:white;

cursor:pointer;

}



button:hover{

background:#764ba2;

}



li{

list-style:none;

margin-top:15px;

padding:12px;

background:#f1f1f1;

border-radius:10px;

display:flex;

justify-content:space-between;

align-items:center;

}



li.completed{

text-decoration:line-through;

background:#c8f7c5;

}



.delete{

background:#ff4757;

padding:8px 12px;

}
